<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plateforme de Prévision de Maladie</title>
    <link rel="stylesheet" href="static/style.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar">
        <div class="container">
            <div class="logo">AI Health</div>
            <ul class="nav-links">
                <li><a href="#home">Accueil</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#about">À propos</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    <!-- Section d'accueil -->
    <section id="home" class="hero">
        <div class="container hero-content">
            <h1>Prévoir votre santé avec l'intelligence artificielle</h1>
            <p>Notre plateforme vous permet de prédire des maladies avec précision grâce à l'IA. Simplifiez vos décisions médicales avec des analyses de données avancées.</p>
            <a href="#services" class="btn">Découvrez nos services</a>
        </div>
        <div class="hero-image">
            <img src="static/img/black_ml.jpg" alt="Illustration Intelligence Artificielle">
        </div>
    </section>

    <!-- Services -->
    <section id="services" class="services">
        <div class="container">
            <h2>Nos Services</h2>
            <div class="service-cards">
                <div class="card">
                    <img src="prediction.jpg" alt="Prédiction">
                    <h3>Prédiction des maladies</h3>
                    <p>Utilisez notre système de prédiction pour diagnostiquer rapidement vos risques potentiels de maladies.</p>
                </div>
                <div class="card">
                    <img src="consultation.jpg" alt="Consultation">
                    <h3>Consultation médicale</h3>
                    <p>Obtenez des conseils et des recommandations basés sur les analyses prédictives fournies par notre IA.</p>
                </div>
                <div class="card">
                    <img src="suivi.jpg" alt="Suivi">
                    <h3>Suivi en temps réel</h3>
                    <p>Suivez votre état de santé à tout moment grâce à notre interface de suivi automatisée.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- À propos -->
    <section id="about" class="about">
        <div class="container">
            <h2>À propos de notre plateforme</h2>
            <p>Notre solution repose sur des algorithmes puissants d'intelligence artificielle, qui analysent des milliers de données pour vous offrir des prédictions fiables et personnalisées. Nous croyons au pouvoir des technologies pour améliorer la vie des patients et des professionnels de la santé.</p>
            <img src="static/img/sedia.jpg" alt="Illustration Intelligence Artificielle" class="about-image">
        </div>
        <a href="/predict" class="btn try-it-btn">
             <i class="fas fa-rocket"></i> Let's Try It
        </a>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="footer-logo">AI Health</div>
            <ul class="footer-links">
                <li><a href="#home">Accueil</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#about">À propos</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <p>&copy; 2024 Sedi@. Tous droits réservés.</p>
        </div>
    </footer>
</body>
</html>
